<style>
  #q {font-size:20px;position:absolute;top:1.5%;left:4%;}
  #w {font-size:20px;position:absolute;top:1.5%;left:14%;}
  #e {font-size:20px;position:absolute;top:1.5%;left:24%;}
  #r {font-size:20px;position:absolute;top:1.5%;left:34%;}
  #t {font-size:20px;position:absolute;top:1.5%;left:44%;}
  #y {font-size:20px;position:absolute;top:1.5%;left:54%;}
  #u {font-size:20px;position:absolute;top:1.5%;left:64%;}
  #i {font-size:20px;position:absolute;top:1.5%;left:74%;}
  #o {font-size:20px;position:absolute;top:1.5%;left:83.8%;}
  #p {font-size:20px;position:absolute;top:1.5%;right:1.5%;}
  #a {font-size:20px;position:absolute;top:24.4%;left:9%;}
  #s {font-size:20px;position:absolute;top:24.4%;left:19%;}
  #d {font-size:20px;position:absolute;top:24.4%;left:29%;}
  #f {font-size:20px;position:absolute;top:24.4%;left:39%;}
  #g {font-size:20px;position:absolute;top:24.4%;left:49%;}
  #h {font-size:20px;position:absolute;top:24.4%;left:59%;}
  #j {font-size:20px;position:absolute;top:24.4%;left:69%;}
  #k {font-size:20px;position:absolute;top:24.4%;left:79%;}
  #l {font-size:20px;position:absolute;top:24.4%;left:89%;}
  #z {font-size:20px;position:absolute;top:49%;left:14%;}
  #x {font-size:20px;position:absolute;top:49%;left:24%;}
  #c {font-size:20px;position:absolute;top:49%;left:34%;}
  #v {font-size:20px;position:absolute;top:49%;left:44%;}
  #b {font-size:20px;position:absolute;top:49%;left:54%;}
  #n {font-size:20px;position:absolute;top:49%;left:64%;}
  #m {font-size:20px;position:absolute;top:49%;left:73.5%;}
  /** del is for X  **/
  #del{
    font-color:#c0392b;
}
</style>

<div id="javascript">
     <% if user_signed_in? %>
      <div class="keyboard">
          <ul class="row">
            <li class='key 81'>q</li>
            <li class='key 87'>w</li>
            <li class='key 69'>e</li>
            <li class='key 82'>r</li> 
            <li class='key 84'>t</li>
            <li class='key 89'>y</li>
            <li class='key 85'>u</li>
            <li class='key 73'>i</li>
            <li class='key 79'>o</li>
            <li class='key 80'>p</li>
          </ul>
          <ul class="row">
            <li class='key 65'>a</li>
            <li class='key 83'>s</li>
            <li class='key 68'>d</li>
            <li class='key 70'>f</li>
            <li class='key 71'>g</li>
            <li class='key 72'>h</li>
            <li class='key 74'>j</li>
            <li class='key 75'>k</li>
            <li class='key 76'>l</li>
          </ul>
          <ul class="row">
            <li class='key 90'>z</li>
            <li class='key 88'>x</li>
            <li class='key 67'>c</li>
            <li class='key 86'>v</li>
            <li class='key 66'>b</li>
            <li class='key 78'>n</li>
            <li class='key 77'>m</li>
            <li class='key 188'>,</li>
          </ul>
          <!--SPACEBAR-->
          <ul class="row">
            <%= link_to 'New Bookmark', new_bookmark_path, class: 'space' %>
          </ul>
          <!--RAILS BOOKMARK LOOP-->
          <% @bookmarks.each do |bookmark| %>
                <div id=<%= "#{bookmark.key}" -%>>
                    <div id="del">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'x', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                 <div class='bmark' hidden><%= bookmark.url %></div>
                    </br>
                    <%= link_to "  #{bookmark.key.titleize}  ", 'http://' + bookmark.url, id:bookmark.key %>
                </div>
      
    <% end %>


        </div>


     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>



  </tbody>
</table>

<br>

